<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<dict>
		<key>identifier</key>
		<string>Configuration.8960970B-7FF3-4E87-9820-C336201D0D04</string>
		<key>options</key>
		<dict>
			<key>customIcon</key>
			<integer>0</integer>
			<key>encryption</key>
			<integer>0</integer>
			<key>format</key>
			<integer>0</integer>
			<key>internetEnabled</key>
			<false/>
			<key>layoutIdentifier</key>
			<string>Layout.E8BFC3F8-4A3F-4E65-8B1F-27E551B266C1</string>
			<key>optimizeForRestores</key>
			<false/>
			<key>promptsForDestinationFolder</key>
			<false/>
			<key>segmentSize</key>
			<integer>100</integer>
			<key>signingName</key>
			<string>Developer ID Application: Sonosaurus LLC (XCS435894D)</string>
			<key>signingSHA1</key>
			<string>C7AF15C3BCF2AD2E5C102B9DB6502CFAE2C8CF3B</string>
			<key>useSegments</key>
			<false/>
		</dict>
	</dict>
	<key>documentCreator</key>
	<string>DropDMG 3.6.2</string>
	<key>documentType</key>
	<string>com.c-command.DropDMG.Configuration</string>
	<key>formatVersion</key>
	<integer>1</integer>
</dict>
</plist>
